*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
}
img{vertical-align: top;}


#wrapper{
    overflow: hidden;
    font-family: 'Pretendard';
    font-weight: 400;
}

/*header*/
header{}
header .wrap{
    position: relative;
}
header .wrap h1{
    position: absolute;
    margin: 20px;
}
header .wrap h1 img{
    width: 150px;
}
header .wrap .mob{
    width: 100%;
}
header .wrap .pc{display: none;}
header .wrap p{
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 20px;
    font-family: 'Vitro_core';
    color: #fff;
    width: 100%;
}
header .wrap p span{
    font-size: 30px;
}
/*header*/

/*content*/
.content{
    background-color: lightcyan;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content h2{
    font-weight: 800;
    font-size: 15px;
    color: #ff5160;
    margin-bottom: 10px;
}
.content .category p{
    font-size: 12px;
}
.content .category{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row-reverse;
}

.content .category .txt{
    margin-top: 20px;
    width: 60%;
    margin-right: auto;
}
.content .category .txt .icon{
    width: 150px;
    margin-bottom: 10px;
}
.content .category .txt h2{
}

.content .category .txt .slider{
    width: 100%;
    margin-top: 30px;
}

.content .category .txt .slider .item{}
.content .category .txt .slider .item img{width: 100%;}
.content .category .pic{
    width: 30%;
    margin-right: auto;
}
.content .category .pic .pc{display: none;}
.content .category .pic .mob{display: block; width: 100%;}
/*content category*/

.content .ai{
    display: flex;
    position: relative;
}
.content .ai .txt{
    position: absolute;
    top: 30px;
    left: 10%;
}

.content .ai .pic{
    width: 70%;
    margin-left: auto;
}

.content .ai .pic img{
    width: 100%;
    height: auto;
}
.content .ai .pic .pc{display: none;}
/*content*/

/*con*/
.con{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.con img{
    width: 150px;
    margin-right: 30px;
}
.con img:last-child{
    margin-right: 0;
}
/*con*/

/*con2*/
.con2{
    margin-top: 80px;
}
.con2 h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}
.con2 .phone{
    display: flex;
    text-align: center;
}

.con2 .phone img{
    width: 50%;
}
.con2 .gnb{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.con2 .gnb li{
    font-size: 15px;
    text-align: center;
    margin-right: 30px;
}
.con2 .gnb li:last-child{
    margin-right: 0;
}
/*con2*/

/*con3*/
.con3{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
    border-bottom: #666 solid 1px;
}
.con3 img{
    width: 50px;
    margin-bottom: 15px;
}
.con3 p{
    text-align: center;
    font-size: 12px;
}
.con3 p span{
    color: #ff5160;
    font-size: 20px;
    font-weight: bold;
}
.con3 .coin{margin-right: 30px;}

.con3 .down{
    margin-right: 30px;
}

.con3 .member{
    margin-right: 30px;
}
/*con3*/

/*download*/
.download{
    background-color: #f8f8f8;
    padding: 40px;
}
.download h3{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.download .app{
    display: flex;
    justify-content: center;
}
.download .app img{
    width: 140px;
    margin-right: 10px;
}
.download .app img:last-child{
    margin-right: 0;
}

/*download*/

/*footer*/
footer{
    background-color: #ff5160;
    padding: 20px;
}
footer h3{
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}
footer p{
    font-size: 12px;
    color: #fff;
}
footer .box{
    margin-bottom: 20px;
} 
footer .box li{
    color: #fff;
    font-size: 12px;
} 

footer .box2{
    margin-bottom: 20px;
} 
footer .box3{} 
footer .box3 .sns{display: flex;} 
footer .box3 .sns li{
    margin-right: 10px;
} 
footer .box3 img{
    width: 30px;
} 
footer .box3 address{
    margin-top: 20px;
    color: #fff;
} 
/*footer*/

@media all and (min-width: 650px) {
    /*테블릿*/
    header .wrap .pc{
        display: block;
        width: 100%;
    }
    header .wrap .mob{display: none;}
    header .wrap p{
        font-size: 24px;
    }
    header .wrap p span{
        font-size: 36px;
    }

    .content div .txt h2{
        font-size: 28px;
    }
    .content div .txt p{
        font-size: 20px;
        margin-top: 20px;
    }

    .content .category{justify-content: space-between;}
    .content .category .txt{width: 45%;}
    .content .category .pic{width: 45%;}
    .content .category .pic .pc{display: block; width: 100%;}
    .content .category .pic .mob{display: none;}

    .content .ai .pic{}
    .content .ai .pic .pc{display: block; width: 100%;}
    .content .ai .pic .mob{display: none;}

    footer .wrap{
        display: flex;
        justify-content: space-between;
    }
    .download{}
    .download .app img{width: 250px;}
}

@media all and (min-width: 1200px){
    header{}
    header .wrap{}
    header .wrap h1{
        margin: 30px;
    }
    header .wrap h1 img{}
    header .wrap p{
        top: 50%;
        left: 48%;
        font-size: 48px;
        text-align: left;
    }
    header .wrap p span{
        font-size: 80px;
    }

    .content{}
    .content > div{
        width: 1200px;
        margin: 0 auto;
    }
    .content > div .txt h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .content > div .txt p{
        font-size: 30px;
    }

    .content .category{}
    .content .category .txt{
        margin-right: unset;
    }
    
    .content .category .txt .icon{
        width: 250px;
        margin-bottom: 30px;
    }

    .content .category .pic{
        width: 30%;
    }

    .content .ai{}
    .content .ai .txt{
        left: 0;
    }
    .content .ai .pic{
        width: 60%;
    }
    .content .ai .pic .mob{
        display: none;
    }

    .con{}
    .con img{
        width: 500px;
    }

    .con2{}
    .con2 h2{
        font-size: 35px;
    }
    .con2 .pone{
        width: 50%;
        margin: 0 auto;
    }
    .con2 .gnb{}
    .con2 .gnb li{
        font-size: 20px;
    }
    .con2 .gnb li:hover{
        border-bottom: 1px solid #ff5160;
    }

    .con3 p{
        font-size: 20px;
    }
    .con3 p span{
        font-size: 30px;
    }

    .download h3{
        font-size: 42px;
    }
    .download .app img{
        width: 300px;
    }

    footer .wrap{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    footer .wrap .box{
        line-height: 20px;
    }

    footer .box3 .sns{
        display: flex;
    }
    footer .box3 .sns li{
        margin-right: 10px;
    }
    footer address{
        margin-top: 20px;
        color: #fff;
    }
}